@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+Rounded+1c:wght@700&display=swap");

body {
  background-color: #1d1a31;
}

form > input {
  background-color: #e2de84;
  border: none;
  border-radius: 1rem;
  color: #1d1a31;
  padding-left: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  width: 9rem;
  padding: 0.25rem;
}

form > button {
  background-color: #e2de84;
  border: none;
  margin-left: 1rem;
  border-radius: 1rem;
  color: #1d1a31;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.25rem;
}

.Holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.sampleCard {
  position: relative;
  padding-left: 0.1rem;
  width: 12rem;
  height: 20rem;
  display: block;
  background-color: #e2de84;
  border-radius: 1rem;
  overflow: hidden;
}

.pokeName {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  text-align: center;
  background-color: #1d1a31;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: white;
  display: inline-block;
  border-radius: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
}
.typeHolder {
  display: flex;
  position: absolute;
  gap: 0.2rem;
  flex-direction: column;
  right: 0rem;
  top: 13.25rem;
}
.pkmntype {
  margin: 0;
  padding: 0.25rem;
  border-radius: 2rem 0 0 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  display: inline-block;
  color: white;
  background-color: #1d1a31;
  box-shadow: 2px 2px 5px rgba(25, 25, 25, 0.7);
}

img {
  display: block;
  width: 11rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  background-color: #ecfeaa;
  border: 3px solid #1d1a31;
}

form {
  margin: 1rem;
}

.stats {
  padding: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 0.35rem;
  flex-wrap: wrap;
  flex-flow: column;
  gap: 0.35rem;
  color: #1d1a31;
  font-size: 12px;
  border-radius: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.stats h2 {
  margin: 0.15rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  background-color: #ecfeaa;
  border-radius: inherit;
  display: inline-block !important;
}
